::placeholder {
  color: #7c7c7c;
}

.container {
  width: 100%;
  max-width: 1150px;
  min-height: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 0 2rem;

  &-fluid {
    max-width: none;
  }
}

.paragraph {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.5;
}
