@import "styles/animations/base";
@import "styles/variables";

.container {
  position: relative;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  flex-direction: column;

  .title {
    width: 30rem;
    color: white;
    cursor: default;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: .4rem;
    text-align: center;
    opacity: 0.8;
    box-shadow: none;
    transition: opacity .4s, box-shadow .4s;

    &:hover {
      opacity: 1;
      box-shadow: 0 0 4rem transparentize($color-white, 0.8);
    }
  }
}
