@import "styles/animations/base";

.container {
  position: relative;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  flex-direction: column;

  .title {
    width: 30rem;
    color: white;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
  }

  &::after {
    content: '';
    background: url('./houses.png') repeat-x;
    background-size: contain;
    position: fixed;
    bottom: 0;
    width: 13350px;
    min-height: 12rem;
    animation: marquee 60s infinite linear;
  }
}
